<div class="row">
    <h1>Super Bowl Party Guest List</h1>

    <div class="alert alert-warning" ng-hide="guests.length > 0"><span class="glyphicon glyphicon-thumbs-down"></span>
        You have no guests yet
    </div>
    <table class="table table-striped" ng-show="guests.length > 0">
        <thead>
        <tr>
            <th>Name</th>
            <th>Bringing</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="guest in guests">
            <td>{{ guest.name | titleCase }}</td>
            <td>{{ guest.bringing }}</td>
            <td>
                <a class="btn btn-default" href="#/guestDetails/{{ $index }}">Edit</a>
                <a class="btn btn-default" ng-click="onRemove($index)">Remove</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-lg btn-primary" href="#/guestDetails">Add Guest</a>

</div>